body {
  color: #111;
  background: #fff;
  background-image: url("../images/background-noise-2.png");
  background-repeat: repeat;
  font-family: 'Lustria', georgia, serif;
  font-size: 20px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
	margin: 0 0 1.5em 0;
}
 
#header h1 {
  font-family: 'Stalemate', cursive, serif;
  font-size: 82px;
  font-weight: normal;
  text-align: center;
	line-height: 0.3em;
}

.structure {
	height: auto;
  max-width: 700px;
  margin: 100px auto;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

h2 {
  font-size: 1.777em;
  line-height: 0.8441193em;
  margin: 0 0 0.8441193em 0;
}

.map-frame {
	position: relative;
  background-image: url("../images/empty-frame-medium.png");
	width: 800px;
	height: 690px;
	margin: 20px 0 0 -50px;
}


.map {
	position: absolute;
	top: 97px;
	left: 94px;
	width: 615px;
}

.map-iframe {
	width: 100%;
	height: 504px;
}

.map-note {
	padding: 40px 0 0;
}

.superwide {
  position: absolute;
  left: 0;
  margin: 0;
  width: 100%;
	display: inline;
}

.superwide .navy {
  background-color: #3C3B4C;
}

.superwide .coral {
  background-color: #F34B4B;
}

.photo-gallery {
  margin-left: -50px;
	margin-bottom: 60px;
}

@media all and (max-width: 800px) {
	.structure {
		margin: 10px auto;
		width: 100%;
	}

	.photo-gallery {
		margin-left: 0;
	}
	.photo-gallery .photo img {
		width: 100%;
	}

	/* Remove vintage frame from map */

	.map-frame {
		width: 100%;
		height: 504px;
		background: none;
		margin: 0;
	}

	.map {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}
}


.clearfix {
  clear: both;
}

.story-intro {
	font-style: italic;
}
